body {  
    margin: 0;
padding: 0;
}
.header {
width: 1400px;
height: 100px;
    background-color: rgb(208, 202, 202);
   
}
.hat{
    height:200px;
    padding-top: 70px;
    margin-left: 290px;
    font-family: cursive;
}
ul {
    margin: 0;
    list-style: none;
    margin-left: 250px;
    width: 700px;
    display: flex;
    justify-content: space-between;

}
li {
    color:rgb(57, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 35px;
    cursor: pointer;
}
li:hover {
    color: blue;
}
.group1 {
    height: auto;
    background-color: cadetblue;
    margin-top: -10px;
}
.two {
    height: 400px;
    background-color: rgb(103, 62, 130);
    margin-top: -10px;
}
.three {
    height: 400px;
    background-color: rgb(164, 170, 82);
    margin-top: -10px;
}
.four {
    height: 400px;
    background-color: rgb(199, 142, 92);
    margin-top: -10px;
}
.bash {
    margin-top: 50px;
    margin-bottom: 50px;
}
.foto {
margin-left: 110px;
}
.mesto {
    margin-left: 70px;
}